.node {
    padding: 7px 10px;
    max-width: 200px;
    text-align: center;

    position: relative;
}

.node .shape {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;
}

.node .shape.rect {
    border: solid 1px;
}

.node .shape.rounded {
    border: solid 1px;
    border-radius: 5px;
}

.node .shape.parallelogram {
    border: solid 1px;
    transform: skew(20deg);
}
.node .shape.parallelogram > * {
    transform: skew(-20deg);
}